<body>
<br>
<h1 align="center">   </h1>

<div style="width:350px; margin:0 auto;">

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <B><%= f.label :post_desc, "POST DESCRIPTION" %></B><br />

  <%= f.label :title %><br />
      <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :post_desc %><br />
    <%= f.text_area :post_desc %>
  </div>


  <div class="field">
    <B><%= f.label :tag %></B><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <B><%= f.label :category %></B><br />
    <%= f.select(:category_id, Category.all.map {|p| [p.category,p.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 </div>
</body>